#### Ques 1
Consider the following Python module:

In [2]:
a = 0

In [3]:
def b():
    global a
    a = c(a)

In [4]:
def c(a):
    return a + 2

In [5]:
b()
b()
b()
a

6

Value 6 is displayed when the last expression is evaluated. At first we define the variable 'a' and take it as 0 as we have told. In next input, we define the variable named b() and global a which is equal to the function c(a). Afterwards we define c(a) and return it as a+2. By evaluating b() for the first time we get 2 as the value of a, in another attempt it will be 4 and at third time we get 6.

#### Ques 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

In [18]:
def filelength(m):
    try:
        file = open(m)
        x = file.readlines()
        file.close()
        print(len())
    except:
        print('File {} was not found'.format(m))

In [19]:
filelength('problemset2.ipynb')

File problemset2.ipynb was not found

In [20]:
filelength('manveer.ipynb')

File manveer.ipynb was not found

#### Question 3
Write a class named Marsupial that can be used as shown below:

In [21]:
class Marsupial:
    def __init__(self):
        self.list1 =[]
    def put_in_pouch(self, item):
        self.list1.append(item)
    def pouch_contents(self):
        return self.list1

In [22]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [23]:
class Kangaroo(Marsupial):
    def __init__(self, xcord, ycord):
        Marsupial.__init__(self)
        self.x = xcord
        self.y = ycord
    
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
    
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

In [24]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [25]:
k.put_in_pouch('doll')
k.put_in_pouch('firestuck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firestuck', 'kitten']

In [26]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

#### Ques 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x.

In [27]:
def collatz(num):
    if num == 1:
        print(1)
    elif num % 2 == 0:
        print(num)
        collatz(num//2)
    else:
        print(num)
        collatz(3*num+1)

In [28]:
collatz(1)

1

In [29]:
collatz(10)

10
5
16
8
4
2
1

#### Ques 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [30]:
def binary(num):
    if num == 0:
        return 0
    else:
        binary(num//2)
    print(num%2, end ='')

In [31]:
binary(0)

0

In [32]:
binary(1)

1

In [33]:
binary(3)

11

In [34]:
binary(9)

1001

#### Ques 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document.

In [80]:
infile =open('w3c.html')
content = infile.read()
infile.close()
from html.parser import HTMLParser
parser = HTMLParser()
parser.feed(content)

FileNotFoundError: [Errno 2] No such file or directory: 'w3c.html'

In [81]:
print(parser)

NameError: name 'parser' is not defined

#### Ques 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent.

In [36]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):
    
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
        
    def handle_starttag(self, tag, attrs):
        if tag =='a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)
                        
    def getLinks(self):
        return self.links

In [37]:
url = 'https://reed.cs.depaul.edu/lperkovic/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
collector.getLinks()

['http://reed.cs.depaul.edu/lperkovic/test2.html',
 'https://reed.cs.depaul.edu/lperkovic/test3.html']

In [45]:
import re
def analyze(url):
    #print('\nVisiting', url)
    
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()
    
    content = re.sub( r'<[^>]*>','',content).strip()
    #freq  = frequency(contentsplit(" "))
    
    #print('\n{:45}'.format(url))
    for i in urls:
        print(" " + '{:30}'.format(i))
        analyze(i)
        
    return urls

In [44]:
def crawl3(url):
    print('{:30}'.format(url))
    analyze(url)
    
crawl3('https://reed.cs.depaul.edu/lperkovic/test1.html')

https://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
 http://reed.cs.depaul.edu/lperkovic/test4.html
 https://reed.cs.depaul.edu/lperkovic/test3.html
 https://reed.cs.depaul.edu/lperkovic/test4.html

#### Ques 8
Write SQL queries on the below database table that return:

In [65]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\mannu\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\mannu\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: prettytable<1 in c:\users\mannu\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\mannu\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\mannu\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\users\mannu\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\mannu\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\mannu\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: backcall in c:\users\mannu\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\mannu\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pickleshare in c:\users\mannu\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=5 in c:\users\mannu\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\mannu\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pygments>=2.4.0 in c:\users\mannu\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\mannu\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: decorator in c:\users\mannu\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\mannu\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: stack-data in c:\users\mannu\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\mannu\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\mannu\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mannu\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: pure-eval in c:\users\mannu\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\mannu\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\mannu\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)

In [66]:
import sqlite3

In [55]:
con = sqlite3.connect('assignment2.db')
cur = con.cursor()
cur.execute("CREATE TABLE rainfall1 (City text, Country text, season text, Temperature float, Rainfall float)")

In [56]:
con.commit()
con.close()

In [57]:
con =sqlite3.connect('assignment2.db')
cur = con.cursor()

In [67]:
cur.execute("INSERT INTO rainfall1 VALUES ('Mumbai','India','Winter',24.8,5.9)")

In [1]:
cur.execute("INSERT INTO rainfall VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO rainfall VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO rainfall VALUES ('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO rainfall VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO rainfall VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO rainfall VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO rainfall VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO rainfall VALUES ('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO rainfall VALUES ('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO rainfallfall VALUES ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO rainfall VALUES ('Cairo','Egypt','Fall',22.2,4.5)")

NameError: name 'cur' is not defined

In [79]:
con.commit()
con.close()

ProgrammingError: Cannot operate on a closed database.

#### Ques 9
Write list comprehension expressions that use list words and generate the following
lists:

In [46]:
words =['The','quick', 'brown', 'fox','jumps','over','the','lazy','dog']

In [47]:
lsta = [i.upper() for i in words]
lsta

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [48]:
lstb = [i.lower() for i in words]
lstb

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [49]:
lstc = [len(i) for i in words]
lstc

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [50]:
lstd = [[i.upper(),i.lower(),len(i)] for i in words]
lstd

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [51]:
lste = [i for i in words if len(i) >= 4]
lste

['quick', 'brown', 'jumps', 'over', 'lazy']